<% layout('layouts/boilerplate') %>
<a href="/campgrounds">Back to Campgrounds</a>
<div>
    <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="post">
        <button class="action-btn delete">Delete</button>
    </form>
    
    <a href="/campgrounds/<%= campground._id %>/update" class="action-btn update">Update</a>
</div>
<ul>
    <li><b>Title:</b> <%= campground.title %></li>
    <li><b>Location:</b> <%= campground.location %></li>
    <li><b>Price:</b> $<%= campground.price %></li>
    <img src="<%= campground.image %>">
    <li><b>Description:</b> <%= campground.description %></li>
</ul>