<% layout('layouts/boilerplate') %>
<a href="/campgrounds/<%= campground._id %>">Back to the Campground</a>
<h3>Update <span>«<%= campground.title %>»</span> Campground:</h3>

<form action="/campgrounds/<%= campground._id %>?_method=PATCH" method="post">
    <input type="text" name="title" placeholder="Title..." value="<%= campground.title %>" required>
    <input type="text" name="location" placeholder="Location..." value="<%= campground.location %>" required>
    <input type="number" name="price" step="0.01" placeholder="Price..." value="<%= campground.price %>" required>
    <button>Update Data</button>
</form>